<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ReportServiceLib"
                 transferMode="StreamedResponse"
                 maxReceivedMessageSize="1073741824"
                 sendTimeout="01:00:00">
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8083/ReportService/ReportService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ReportServiceLib"
        contract="ReportServiceReference.ReportServiceLib" name="BasicHttpBinding_ReportServiceLib" />
    </client>
  </system.serviceModel>
</configuration>